.choice {
  font-family: "Lobster", "Nunito", sans-serif;
  font-size: 1.8rem;
  &__link {
    color: $dark-green;
    transition: 0.2s;
    &:hover {
      color: $light-green;
    }
  }
}

.requirements {
  font-size: 1.6rem;
  margin: 0.5rem 1rem;
}

.error {
  color: #ee3d48;
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 1rem;
}
