* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: "Nunito", sans-serif;
}

body {
  font-size: 1.6rem;
  color: $black;
  overflow-x: hidden;
  width: 100vw;
}

.my-container {
  padding: 0.5rem 1.5rem;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: $dark-green;
}

.slide-enter,
.slide-exit {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.slide-exit {
  opacity: 1;
  transform: translateY(0);
  height: 100vh;
  overflow: hidden;
}
.slide-exit.slide-exit-active {
  transition: all 0.4s ease-in-out;
  opacity: 0.5;
  transform: translateY(-100%);
}

.slide-enter {
  transform: translateX(100%);
  opacity: 0.5;
}

.slide-enter.slide-enter-active {
  transition: all 0.4s 0.4s ease-in-out;
  transform: translateX(0);
  opacity: 1;
}

.slide-enter-done {
  position: static;
}
