.message {
  max-width: 80%;
  background-color: #d7e1e9;
  border-radius: 5rem;
  padding: 1rem 2rem;
  margin: 2rem;
  width: auto;
  animation: slideInRight 0.7s;
  &__text {
    font-size: 1.7rem;
  }
  &__date {
    color: $grey;
  }
  &-own {
    margin-left: auto;
    background-color: $dark-green;
    color: $white;
    .message__date {
      color: rgba($white, 0.7);
    }
  }
}

.messages {
  height: 80%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 3rem 0;
}

@media only screen and (max-width: 768px) {
  .messages {
    height: 75%;
  }
}
