.user {
  background-color: white;
  padding: 5px 1rem;
  margin: 1rem 3rem;
  border-radius: 2px;
  display: block;
  transition: 0.2s;
  cursor: pointer;
  animation: fadeInDown 1s;
  &:hover {
    background-color: rgba($dark-green, 0.1);
  }
  &__avatar {
    max-width: 100%;
    height: 5rem;
    border-radius: 50%;
    border: 1px solid $grey;
    transform: translateY(3px);
    margin-right: 1rem;
  }
  &__details {
    padding-left: 2rem;
    padding-top: 5px;
  }
  &__username {
    color: $black;
    font-weight: 700;
    font-size: 1.8rem;
  }
  &__status {
    font-weight: bold;
    text-align: right;
    &-online {
      color: $dark-green;
    }
    &-offline {
      color: $grey;
    }
  }
  &-active {
    background-color: rgba($dark-green, 0.1);
    position: relative;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(100%, -50%);
      background-color: rgba($dark-green, 0.1);
      width: 2rem;
      height: 3rem;
      clip-path: polygon(0 0, 100% 50%, 0 100%);
    }
  }
}
.users {
  max-height: 100vh;
  overflow-y: hidden;
  &:hover {
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 768) {
  .users {
    max-height: 70vh;
  }
}
