.user {
  background-color: white;
  padding: 5px 1rem;
  margin: 1rem 3rem;
  border-radius: 2px;
  display: block;
  transition: 0.2s;
  cursor: pointer;
  &:hover {
    background-color: rgba($dark-green, 0.1);
  }
  &__avatar {
    max-width: 100%;
    height: 5rem;
    border-radius: 50%;
    border: 1px solid $grey;
    transform: translateY(3px);
    margin-right: 1rem;
  }
  &__details {
    padding-left: 2rem;
    padding-top: 5px;
  }
  &__username {
    color: $black;
    font-weight: 700;
    font-size: 1.8rem;
  }
  &__status {
    font-family: "Lobster";
    &-online {
      color: $dark-green;
    }
    &-offline {
      color: $red;
    }
  }
}
.users {
  height: 100vh;
  overflow-y: scroll;
}

@media only screen and (max-width: 768) {
  .users {
    height: 70vh;
  }
}
