* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none; }

html {
  font-size: 62.5%;
  font-family: "Nunito", sans-serif; }

body {
  font-size: 1.6rem;
  color: #1a2026;
  overflow-x: hidden;
  width: 100vw; }

.my-container {
  padding: 0.5rem 1.5rem; }

::-webkit-scrollbar-track {
  background-color: #f5f5f5; }

::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5; }

::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: rgba(238, 242, 243, 0);
  background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#38ef7d), to(#11998e), color-stop(0.6, #54de5d)); }

.landing-page {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  background: url("./assets/bg.svg");
  background-position-y: top;
  background-position-x: right; }
  .landing-page__illustration {
    width: 100%;
    max-width: 80vh;
    display: block;
    margin: 0 auto; }
  .landing-page__heading {
    color: #1a2026;
    margin-top: 2.5rem;
    font-size: 3.5rem;
    text-align: center;
    animation: jackInTheBox 1s ease-in; }

.hero {
  position: absolute;
  width: 90%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%); }

@media only screen and (max-width: 768px) {
  .landing-page {
    background-position-y: -10rem; }
  .hero {
    top: 65%;
    padding-bottom: 2rem; }
  .landing-page__illustration {
    display: none; } }

.btn {
  padding: 1rem 3rem;
  border: 2px solid;
  font-size: 1.7rem;
  font-weight: bold;
  border-radius: 4px;
  background: none;
  cursor: pointer;
  transition: 0.4s;
  margin-right: 1rem; }
  .btn-white {
    border-color: 2px solid #eef2f3;
    color: #eef2f3; }
    .btn-white:hover {
      color: #1a2026;
      background-color: #eef2f3;
      border-color: #1a2026; }
  .btn-grey {
    border-color: 2px solid #8e9eab;
    color: #8e9eab; }
    .btn-grey:hover {
      color: #1a2026;
      background-color: #8e9eab;
      border-color: #1a2026; }
  .btn-black {
    border-color: #1a2026;
    color: #1a2026; }
    .btn-black:hover {
      color: #eef2f3;
      background-color: #1a2026;
      border-color: #eef2f3; }
  .btn-green {
    background: linear-gradient(to right, #38ef7d, #11998e, #38ef7d);
    background-size: 200%;
    border: none;
    color: #eef2f3; }
    .btn-green:hover {
      background-position: right; }
  .btn-block {
    display: block;
    width: 100%;
    border-radius: 20px; }
  .btn-action {
    cursor: pointer;
    width: 100%;
    background-color: transparent;
    padding: 1.5rem 2rem;
    border: none;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    transition: 0.3s ease-in;
    overflow: hidden;
    display: block; }
    .btn-action::after {
      content: "";
      position: absolute;
      bottom: -100%;
      left: 0;
      height: 100%;
      width: 4px;
      transition: 0.2s ease-in-out;
      background-color: #11998e; }
    .btn-action:hover::after {
      bottom: 0; }
    .btn-action-active::after {
      bottom: 0; }
    .btn-action-active {
      color: #11998e;
      background-color: rgba(17, 153, 142, 0.03); }
    .btn-action:hover {
      color: #11998e;
      background-color: rgba(17, 153, 142, 0.03); }
  .btn-send {
    background: linear-gradient(to right, #38ef7d, #11998e, #38ef7d);
    background-size: 200%;
    border: none;
    color: #eef2f3;
    transition: 0.3s;
    cursor: pointer;
    display: inline-block;
    width: 25%;
    padding: 2rem 0;
    font-size: 1.6rem;
    min-width: 4rem;
    text-transform: uppercase;
    font-weight: bold; }

.choice {
  font-family: "Lobster", "Nunito", sans-serif;
  font-size: 1.8rem; }
  .choice__link {
    color: #11998e;
    transition: 0.2s; }
    .choice__link:hover {
      color: #38ef7d; }

.requirements {
  font-size: 1.6rem;
  margin: 0.5rem 1rem; }

.error {
  color: #f85c50;
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 1rem; }

.big {
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 0.9;
  text-transform: uppercase;
  color: #1a2026;
  margin-bottom: 3rem; }

@media only screen and (max-width: 600px) {
  .big {
    font-size: 4.5rem; } }

.form-page {
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(to right top, #11998e, #38ef7d);
  position: relative; }

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }

.sign {
  width: 40rem;
  max-width: 100%;
  background-color: #eef2f3;
  box-shadow: 0 0 1rem 0.5rem rgba(26, 32, 38, 0.6);
  min-height: 10rem;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  padding: 2rem; }
  .sign h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 4rem;
    color: #1a2026; }
  .sign .circle-1 {
    padding: 2.5rem;
    position: absolute;
    top: 10%;
    left: 0%;
    background-color: #38ef7d;
    opacity: 0.4; }
  .sign .circle-2 {
    position: absolute;
    top: 60%;
    right: -15%;
    padding: 5rem;
    background: #38ef7d;
    opacity: 0.4; }
  .sign .circle-3 {
    position: absolute;
    top: 0%;
    right: 1%;
    padding: 5rem;
    background: #38ef7d;
    opacity: 0.4; }
  .sign hr {
    margin: 2rem;
    color: #38ef7d; }

.field {
  margin-bottom: 2rem; }
  .field__label {
    font-size: 1.8rem;
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem; }
  .field__input {
    background-color: white;
    border: none;
    box-shadow: 0 0 1rem 0.3rem #8e9eab;
    padding: 1.5rem;
    display: block;
    width: 100%;
    border-radius: 20px; }

.circle {
  border-radius: 50%;
  z-index: 0; }

.user {
  background-color: white;
  padding: 5px 1rem;
  margin: 1rem 3rem;
  border-radius: 2px;
  display: block;
  transition: 0.2s;
  cursor: pointer; }
  .user:hover {
    background-color: rgba(17, 153, 142, 0.1); }
  .user__avatar {
    max-width: 100%;
    height: 5rem;
    border-radius: 50%;
    border: 1px solid #8e9eab;
    transform: translateY(3px);
    margin-right: 1rem; }
  .user__details {
    padding-left: 2rem;
    padding-top: 5px; }
  .user__username {
    color: #1a2026;
    font-weight: 700;
    font-size: 1.8rem; }
  .user__status {
    font-family: "Lobster"; }
    .user__status-online {
      color: #11998e; }
    .user__status-offline {
      color: #f85c50; }
  .user-active {
    background-color: rgba(17, 153, 142, 0.1);
    position: relative; }
    .user-active::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(100%, -50%);
      background-color: rgba(17, 153, 142, 0.1);
      width: 2rem;
      height: 3rem;
      clip-path: polygon(0 0, 100% 50%, 0 100%); }

.users {
  max-height: 100vh;
  overflow-y: hidden; }
  .users:hover {
    overflow-y: scroll; }

@media only screen and (max-width: 768) {
  .users {
    max-height: 70vh; } }

.chat-page {
  width: 100vw;
  min-height: 100vh;
  background-color: #f2f8fd; }

.profile {
  padding: 1rem 0;
  background-color: #d7e1e9; }
  .profile__info {
    text-align: center;
    padding: 2rem 1rem;
    margin-bottom: 2rem; }
  .profile__avatar {
    border-radius: 50%;
    border: 2px solid #eef2f3;
    display: inline-block;
    margin-bottom: 1rem; }
  .profile__username {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-family: "Lobster"; }
  .profile__email {
    font-size: 1.6rem;
    font-weight: 300; }

@media only screen and (min-width: 768px) {
  .profile {
    height: 100vh; } }

.chatroom {
  padding: 5rem 2rem;
  height: 100vh;
  position: relative; }
  .chatroom-form {
    background-color: white;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    display: flex;
    align-items: center;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(26, 32, 38, 0.2); }
    .chatroom-form__input {
      background-color: none;
      border: none;
      padding: 2rem;
      width: 80%; }
  .chatroom__user {
    padding-bottom: 1rem;
    border-bottom: 1px solid #d7e1e9; }
    .chatroom__user__username {
      display: block;
      font-size: 2.5rem; }
    .chatroom__user__status {
      font-weight: 300;
      font-size: 1.6rem;
      text-transform: uppercase;
      color: #8e9eab;
      display: inline-block;
      position: relative; }
      .chatroom__user__status-online::after {
        position: absolute;
        top: 50%;
        right: 0;
        content: "";
        transform: translate(200%, -50%);
        padding: 5px;
        border-radius: 50%;
        background-color: #2eb32e; }

.message {
  max-width: 80%;
  background-color: #d7e1e9;
  border-radius: 5rem;
  padding: 1rem 2rem;
  margin: 2rem;
  width: auto; }
  .message__text {
    font-size: 1.7rem; }
  .message__date {
    color: #8e9eab; }
  .message-own {
    margin-left: auto;
    background-color: #11998e;
    color: #eef2f3; }
    .message-own__date {
      color: rgba(238, 242, 243, 0.7); }

.messages {
  height: 80%;
  overflow-y: scroll;
  padding: 3rem 0; }

@media only screen and (max-width: 768px) {
  .messages {
    height: 75%; } }
